
@mixin animation-blink(){
    @keyframes blinkAnimation {
            0% {
                opacity: 1;
            }
    
            25% {
                opacity: 0.5;
            }
    
            50% {
                opacity: 0;
            }
    
            75% {
                opacity: 0.5;
            }
    
            100% {
                opacity: 1;
            }
    
        }
}

.containerCatalog{
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    height: 99%;
    background-color:var(--colorBackground);
    
    
    .containerOptions{
        display: flex;
            flex-direction: row;
            justify-content: space-between;
    }
    .dataContent{
        display: grid;
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        grid-template-columns: repeat(4,calc(100%/4 - 25px));
        justify-content: center;
        gap: 3em;
        padding: 0em 1.5em 0em 1.5em;
        margin: 3em 0em 0em 0em;
        color: var(--colorText);
        #itemFlag{
            display: flex;
            flex-direction: column;
            background-color: var(--colorElement);
            box-shadow: 0px 0px 5px  4px rgba(0, 0, 0, 0.05);
            width: 100%;
            border-radius: 5px;
            cursor:pointer;
           
            #imageFlag{
                width: 100%;
                height:14vw;
                img{
                    width:100%;
                    height: 100%;
                    border-radius: 5px 5px 0px 0px;
                }
            }
            
            .container-info{
                    padding: 0em  1.2em 2.8em 1.2em;
                    gap: 0.2em;
                    #itemInfoData {
                        margin: 0.5em 0em;
                        display: flex;
                        flex-direction: row;
                        font-size: 14px;
                        gap:0.2em;
                        font-weight: 600;
                        p{
                            margin:0;
                            &:nth-child(1) {
                                    font-weight: bold;
                            
                                }
                        }
                       
                    }
            }
            #imageFlagSke{
                display: block;
                background-color: var(--colorInput);
                width: 100%;
                height: 200px;     
                animation: blinkAnimation 2s linear  infinite;
            }
            .container-infoSke{
                display:flex;
                flex-direction: column;
                gap:1em;
                padding: 2em;
                #infoSke{
                    display: block;
                    background-color: var(--colorInput);
                    width: 100%;
                    height:10px;
                    animation: blinkAnimation 2s linear infinite;
                    
                }
                @include animation-blink();
            }
           @include  animation-blink();
        }

    }
}